<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" id="footer_with_contact">

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 width">
                    <div class="address">
                        <h3>Contactez nous</h3>
                        <ul class="locarion_icon">
                            <li><img th:src="@{/icon/1.png}" alt="icon" />Yaoundé , CAMEROUN</li>
                            <li><img th:src="@{/icon/2.png}" alt="icon" />Phone : ( +237 690453128 )</li>
                            <li><img th:src="@{/icon/3.png}" alt="icon" />Email : demo@gmail.com</li>

                        </ul>                  

                        <ul class="contant_icon">
                            <li><img th:src="@{/icon/fb.png}"alt="icon" /></li>
                            <li><img th:src="@{/icon/tw.png}"alt="icon" /></li>
                            <li><img th:src="@{/icon/lin(2).png}"alt="icon" /></li>
                            <li><img th:src="@{/icon/instagram.png}" alt="icon" /></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 width">
                    <div class="address">
                        <!--<h3>Des Suggestions??</h3>-->

                            <div class="row">
                                <div class="col-sm-12" style="margin-bottom: 30px">
                                    <a class="send" th:href="@{'/suggestion/suggestions'}">Faire un suggestion</a>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 30px">
                                    <a class="send" th:href="@{'/playlist/formenregistre'}">Creer une playlist</a>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 30px">
                                    <a class="send" th:href="@{'/playlist/loginpage'}">Accerder a une playlist</a>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 width">
                    <div class="address">
                        <h3>New Music </h3>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                <figure><img th:src="@{/images/gims.jpg}" /></figure>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                <figure><img th:src="@{/images/cover_imagine_dragons.jpg}" /></figure>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                <figure><img th:src="@{/images/cover_migos.jpg}" /></figure>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ">
                                <figure><img th:src="@{/images/cover_zaho_monde.jpg}" /></figure>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2021 All Rights Reserved. <a href="https://html.design/">FindZik</a></p>
        </div>
    </div>

</footer>
</body>
</html>
