<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<header>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Rock</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <th:block th:replace="fragments/css.html::css"></th:block>
</header>
<!-- body -->

<body class="main-layout album-page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <th:block th:replace="fragments/menu.html::menu"></th:block>
    <!-- end header -->

    <div class="Albumsbg" style="display: flex;justify-content: center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Albumstitlepage">
                        <h2>Albums</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <form th:action="@{/album/recherche}" method="GET" class="search">
                        <input type="search" name="mot_cle" class="form-control" placeholder="Nom">
                        <button><img th:src="@{/images/search_icon.png}"></button>
                    </form>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <form th:action="@{/album/rechercheAnnee}" method="GET" class="search">
                        <input type="search" name="mot_cle" class="form-control" placeholder="Annee de sortie">
                        <button><img th:src="@{/images/search_icon.png}"></button>
                    </form>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <form th:action="@{/album/rechercheArtiste}" method="GET" class="search">
                        <input type="search" name="mot_cle" class="form-control" placeholder="Artiste">
                        <button><img th:src="@{/images/search_icon.png}"></button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Albums -->
    <div class="Albums">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">

                        <span>Voici la liste des albums de notre site</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margin"  th:each="album: ${albums}">
                    <div class="Albums-box">
                        <figure>
                            <a th:href="@{'/blog'}" class="fancybox" rel="ligthbox">
                                <img th:src="${album.urlimg}" class="zoom img-fluid " alt="">
                            </a>
                            <span class="hoverle">
                        <a th:href="@{'/album/sons?id='+ ${album.idAlbum}}" class="fancybox" rel="ligthbox"><img th:src="@{/images/search.png}"></a>
                                  <!-- th:href="@{'/sons?id'+ ${album.id}}" -->
                        </span>
                        </figure>
                        <p th:text="${album.nomAlbum}"> </p>
                        <p th:text="${album.anneeDeSortie}">  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Albums -->

    <!--  footer -->
    <th:block th:replace="fragments/footer.html::footer"></th:block>
    <!-- end footer -->
    <!-- Javascript files-->
    <th:block th:replace="fragments/js.html::js"></th:block>
</body>

</html>
