<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<header>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Rock</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <th:block th:replace="fragments/css.html::css"></th:block>
</header>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
       <th:block th:replace="fragments/menu.html::menu"></th:block>
    <!-- end header -->
    <section class="banner_section">
        <div class="banner-main">
            <img th:src="@{/images/banner2.jpg}" />
            <div class="container">

                <div class="text-bg relative">
                    <h1>FindZik<br><span class="Perfect">The Perfect Music</span><br>Welcome To The FindZik</h1>
                    <a th:align="center" th:margin="auto">
                        <div th:align="center" th:size="30">
                            <form th:margin="auto" th:action="@{/musique/rechercher}" method="GET" class="search">
                                <input th:align="center" th:margin="auto" type="search" name="mot_cle" class="form-control" placeholder="Search">
                                <button><img th:src="@{/images/search_icon.png}"></button>
                            </form>
                        </div>
                    </a>
                    <!-- <a th:href="@{'/album/listAlbum'}">Find Music</a> -->
                </div>

            </div>
        </div>

    </section>

    <!-- music-box  -->
    <div class="music-box">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img th:src="@{/icon/icon1.png}" alt="icon"/></i>
                        <h3>Recherches optimisées</h3>
                        <p>Retrouver tous vos sons favoris de facon simple</p>
                    </div>
                </div>
                <!--<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">-->
                    <!--<div class="for-box">-->
                        <!--<i><img th:src="@{/icon/icon2.png}" alt="icon"/></i>-->
                        <!--<h3>Easy customize</h3>-->
                        <!--<p>t is a long established fact that a reader will be distracted by the readable </p>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img th:src="@{/icon/icon3.png}" alt="icon"/></i>
                        <h3>Music Playlist</h3>
                        <p>Creez vos propres playlist en ligne</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="for-box">
                        <i><img th:src="@{/icon/icon4.png}" alt="icon"/></i>
                        <h3>Bibliothèque fournie</h3>
                        <p>Les sons sont disponible sur tous les supports avec les paroles</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end music-box  -->

    <!-- Newsletter -->
    <div class="Newsletter">
        <div class="container">
            <div class="row" style="display: inline-flex;flex-wrap: nowrap;">
                <div class="col-md-6" >
                    <h2>Creez une playlist?</h2>
                    <div class="row">
                        <a class="send" th:href="@{'/playlist/formenregistre'}">Creer</a>
                    </div>
                </div>
                <div class="col-md-8" style="margin-left: 90%">
                    <h2>Acceder a une playlist?</h2>
                    <div class="row">
                        <a class="send" th:href="@{'/playlist/loginpage'}">Se connecter</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
    <!-- end Newsletter -->

    <!--  footer -->
    <th:block th:replace="fragments/footer.html::footer"></th:block>
    <!-- end footer -->
    <!-- Javascript files-->
    <th:block th:replace="fragments/js.html::js"></th:block>
</body>

</html>
